# GIT
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# BUILD
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# LOG
logs/
*.log

# Docker
Dockerfile*
docker-compose-local.yml
docker-compose*.yml

# DOCS
docs/

# TEST
tests/
**/src/test/

# YAML
**/src/main/resources/application-local.yml

# LOCAL/UNUSED APP BUILD CONTEXT
.env
.env.*
.omx/
.github/
crawl/
setup/
