# GIT
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# BUILD
build/
!gradle/wrapper/gradle-wrapper.jar

# ENV
.env
.env.local
.env.production

# LOG
logs/
*.log

# Docker
Dockerfile

# DOCS
docs/docker-notes.md
docs/

# TEST
src/test/
