# GIT
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# BUILD
build/
!gradle/wrapper/gradle-wrapper.jar

# LOG
logs/
*.log

# Docker
Dockerfile
docker-compose-local.yml

# DOCS
docs/docker-notes.md
docs/

# TEST
src/test/

# YAML
**/src/main/resources/application-local.yml
